.App {
    font-family: 'Inter', sans-serif;
    text-align: center;
  }
  .vis-react {
    height: 85vh;
    width: 50vw;
    border: none;
    /* margin-left: 50px; */
    /* padding: 2rem; */
    /* display: block; */
    /* margin: 0 auto; */
    /* background-color: blueviolet; */
  }
  .vis-react-title {
    text-align: center;
  }
  